__Profesor: Alexander Acevedo Gomez__ 

__Grado__: Noveno

__GUIA 1 Primer Periodo: Formato de números y formulas personalizadas básicas__

# Formatos de números

1. General: Es el formato predeterminado en Excel. No tiene un estilo específico y muestra los números tal como se ingresan, redondeando los decimales cuando es necesario.
2.	Número: Permite definir la cantidad de decimales, usar separadores de miles y mostrar números negativos en rojo o con paréntesis.
3.	Moneda: Similar al formato “Número”, pero incluye un símbolo de moneda (como $, €, etc.), manteniendo los valores alineados correctamente.
4.	Contabilidad: También muestra símbolos de moneda, pero alinea los valores y los separadores de manera uniforme, útil para reportes financieros.
5.	Fecha y Hora: Convierte los números en fechas o tiempos según el formato seleccionado, como “dd/mm/aaaa” o “hh:mm AM/PM”.
6.	Porcentaje: Multiplica el valor por 100 y añade el símbolo “%”, ideal para representar proporciones o tasas.
7.	Fracción: Muestra los números como fracciones en lugar de decimales, útil para mediciones y cálculos específicos.
8.	Científico: Expresa los números en notación exponencial, facilitando la visualización de cifras muy grandes o muy pequeñas.
9.	Texto: Trata los números como texto, evitando cálculos automáticos y manteniendo el formato exacto de lo ingresado.
10.	Especial: Formatos específicos como números de teléfono, códigos postales o identificaciones, dependiendo de la configuración regional.

## Importancia de usar correctamente los formatos de números

> 1. Claridad en los datos: Un formato adecuado mejora la comprensión de la información, evitando confusiones entre valores como fechas, monedas o porcentajes.
> 2. Precisión en cálculos: Al aplicar un formato incorrecto, los cálculos pueden dar resultados erróneos o no reflejar correctamente los valores esperados.
> 3. Presentación profesional: Un buen uso del formato mejora la presentación de reportes y hojas de cálculo, facilitando la interpretación de la información por parte de otras personas.

## Ejemplo

Los siguientes datos corresponden a los socios inversores de una empresa multinacional con sede en Londres Inglaterra, muestra el estado de sus ahorros o deudas contados hasta determinada fecha.

|   first_name  |   last_name  |   date        |   money          |   income       |   expense      |
|---------------|--------------|---------------|------------------|----------------|----------------|
|   Lilith      |   Barfoot    |   30/4/2024   |   Peso           |   47570.2481   |   92345.70639  |
|   Glynda      |   Patemore   |   5/5/2024    |   Peso           |   12463.75302  |   28418.51984  |
|   Alric       |   Floyed     |   27/6/2024   |   Dollar         |   37812.56071  |   14993.08086  |
|   Camellia    |   Pennino    |   27/1/2025   |   Yuan Renminbi  |   45926.48601  |   78417.508    |
|   Ciro        |   Minard     |   27/12/2024  |   Dollar         |   97238.89965  |   12088.44043  |
|   Rustin      |   Witherup   |   28/5/2024   |   Yuan Renminbi  |   88053.46925  |   29944.74719  |
|   Rebekah     |   O'Moylan   |   13/12/2024  |   Rupiah         |   39092.50247  |   79982.75006  |
|   Kalvin      |   Fellini    |   14/3/2024   |   Rupiah         |   67308.90387  |   84715.80824  |
|   Bunnie      |   Feechum    |   11/1/2025   |   Euro           |   10920.47774  |   76009.07594  |
|   Cayla       |   Burges     |   18/4/2024   |   Euro           |   55061.6065   |   35702.91078  |
|   Zorah       |   Fern       |   10/8/2024   |   Peso           |   92355.54649  |   30834.0649   |
|   Carey       |   Bearblock  |   25/4/2024   |   Franc          |   29423.59302  |   17337.57711  |
|   Goran       |   Cecchi     |   5/6/2024    |   Boliviano      |   78102.45962  |   94208.34022  |
|   Ermanno     |   Crose      |   25/5/2024   |   Zloty          |   61310.04389  |   97462.14854  |
|   Meredith    |   Colmore    |   10/7/2024   |   Zloty          |   14758.09804  |   61865.04968  |
|   Rachelle    |   Santo      |   5/10/2024   |   Yuan Renminbi  |   38120.57496  |   74703.97818  |
|   Shelia      |   Hynam      |   4/4/2024    |   Peso           |   37812.24633  |   76296.16923  |
|   Nessy       |   Raftery    |   8/1/2025    |   Yuan Renminbi  |   57697.72552  |   43624.86247  |
|   Wanda       |   Hawlgarth  |   2/2/2025    |   Bolivar        |   25891.77015  |   37888.88372  |
|   Deina       |   Conn       |   14/5/2024   |   Dong           |   65305.64039  |   82530.05281  |
|   Godart      |   Tincknell  |   28/12/2024  |   Ruble          |   83162.84384  |   90097.9068   |
|   Anallise    |   Cator      |   14/1/2025   |   Dollar         |   28774.37665  |   40448.03327  |
|   Florie      |   Loughney   |   30/8/2024   |   Yen            |   18888.70469  |   49269.46103  |
|   Mercie      |   Alden      |   29/8/2024   |   Peso           |   33570.47411  |   95719.23132  |
|   Phip        |   Dew        |   10/6/2024   |   Yuan Renminbi  |   37130.247    |   96336.94675  |
|   Irena       |   Tolomelli  |   15/11/2024  |   Dollar         |   62467.89029  |   27076.391    |
|   Candra      |   Lissandri  |   3/3/2024    |   Zloty          |   45810.79595  |   28924.54938  |
|   Hector      |   Hartle     |   13/12/2024  |   Krona          |   44107.05726  |   75913.67885  |
|   Shalne      |   Loffill    |   16/9/2024   |   Dollar         |   60916.44968  |   26928.61952  |
|   Eolande     |   Nester     |   18/8/2024   |   Real           |   74364.65783  |   79768.08293  |

> ### Descripción de las columnas
>
> __first_name__ y __last_name__: Corresponde al nombre y apellido.
> 
> __income__ y __expense__ : Son los ingresos y gastos de los socios contados hasta la fecha indicada en la columna __date__.

> 1. Copie en Excel la siguiente tabla según las instrucciones del profesor.
> 2. Reemplace puntos por comas.
> 3. Cambiar la columna ```date``` al formato ```año-mes-dia```.
> 4. Ajuste las cantidades a dos decimales.
> 5. Convierte los datos a tabla.
> 6. Agregue la columna ```balance```.
> 7. En esta columna calcule el saldo de cada persona el cual corresponde a $income-expense$.
> 8. Agregue una fila de totales asi:
>    - En las columnas ```money``` e ```income``` emplee __suma__
>    - En la columna ```balance``` emplee __promedio__.
> 9. Convierta la columna ```balance``` a moneda con el simbolo pesos ```$``` y dos posiciones decimales.

## Ejercicio

> __Ambito Conceptual:__ Tipos de datos y su   manipulación en la hoja de cálculo.
>
> __Competencia:__ 1
>
> __Objetivo:__ Emplear adecuadamente los formatos de numeros proporcionados en Excel para aplicarlos correctamente en las columnas segun el tipo de dato enunciado.

La siguiente tabla muestra la marca de vehículos más vendido en diferentes ciudades del mundo, el precio promedio en dólares del modelo más común perteneciente a estas marcas y las ventas estimadas a una fecha en particular.

|   Ciudad              |   Vehículo       |   fecha       |   precio_promedio  |   cantidad_vendida  |   ventas_estimadas  |
|-----------------------|------------------|---------------|--------------------|---------------------|---------------------|
|   Lianyi              |   Sierra 2500    |   22/2/2024   |   239289.547       |   5062              |   3941              |
|   Navegantes          |   A4             |   16/11/2024  |   58057.7425       |   11919             |   7495              |
|   Balungao            |   LR2            |   17/9/2024   |   341671.4925      |   8397              |   5135              |
|   Bahía Blanca        |   Concorde       |   8/9/2023    |   305607.7975      |   5471              |   5572              |
|   Bukhovo             |   Mazda3         |   25/10/2022  |   334595.2781      |   3856              |   6130              |
|   Jinkou              |   Malibu         |   18/11/2024  |   222439.6587      |   6570              |   8243              |
|   Pont-à-Mousson      |   SL-Class       |   16/3/2024   |   121129.396       |   1417              |   3635              |
|   Era                 |   Avalanche      |   15/4/2023   |   271360.3311      |   3753              |   11050             |
|   Landskrona          |   B-Series Plus  |   26/4/2023   |   246307.0427      |   10241             |   1515              |
|   Józefów             |   Bonneville     |   9/1/2023    |   322867.6738      |   11820             |   11433             |
|   Harjamukti          |   Mirage         |   14/8/2023   |   93634.4424       |   11591             |   8636              |
|   Lac du Bonnet       |   A6             |   1/1/2024    |   31742.5422       |   2151              |   1437              |
|   Tonggu              |   Forester       |   5/1/2025    |   336666.761       |   9594              |   2406              |
|   Badai               |   Arnage         |   3/2/2024    |   88798.4879       |   10101             |   2483              |
|   Pasirhuni           |   Express 2500   |   17/3/2024   |   136631.3272      |   4467              |   7819              |
|   Youxikou            |   M6             |   8/1/2023    |   298253.7001      |   5750              |   9302              |
|   Heshengbao          |   Wrangler       |   10/2/2023   |   134950.9517      |   3144              |   7062              |
|   Sokol               |   FX             |   27/8/2023   |   85374.9541       |   11668             |   5642              |
|   Batangan            |   650            |   9/5/2023    |   24402.607        |   6537              |   10683             |
|   Batou               |   C70            |   27/10/2023  |   326425.6798      |   5770              |   3063              |
|   Västerås            |   Virage         |   7/10/2024   |   346193.4086      |   2157              |   7151              |
|   Rebe                |   Trans Sport    |   26/9/2023   |   227502.3012      |   7634              |   8665              |
|   Mingshui            |   D350 Club      |   14/4/2023   |   158260.6313      |   6042              |   7100              |
|   Pulau Pinang        |   Tahoe          |   10/6/2023   |   27125.5714       |   10612             |   4137              |
|   Logon               |   Rio5           |   2/2/2023    |   75056.3917       |   9117              |   6522              |
|   Padang              |   370Z           |   17/10/2024  |   254953.0589      |   3683              |   3766              |
|   Pejek               |   E-Class        |   26/5/2023   |   234267.5121      |   4139              |   10482             |
|   Tsementnozavodskiy  |   C-Class        |   7/4/2023    |   288783.323       |   6554              |   7659              |
|   Canhestros          |   Passat         |   12/7/2024   |   15461.0653       |   8903              |   10761             |
|   Kalkal Barat        |   Accord         |   15/2/2024   |   106361.8866      |   4016              |   5738              |

### Desarrolle

1. Copie la tabla y péguela en Excel según lo visto en clase.
2. Cambie de puntos a comas.
3. Convierta los datos a tabla.
4. Agregue la columna ```ingresos_totales```, la cual corresponde a:
   
   $$preciopromedio \phantom{x} x \phantom{x} cantidadvendida$$

6. Agregue la columna ```diferencia en ventas```, la cual corresponde a $cantidadVendida-ventasEstimadas$
7. Reduzca los decimales a dos cifras unicamente en la columnas que los tienen.
8. Cambie la fecha al formato ```14 de marzo de 2012```
9. Aplique el formato de moneda a las columnas ```precio_promedio``` e ```ingresos_totales```.
10. Agregue la fila de totales asi:
   - Promedio: en las columna ```precio_promedio```
   - Suma: en las columnas ```cantidad_vendida``` y ```ventas_estimadas```.
11. Guarde su trabajo como: ```guia1_903_nombre_apellido```, por ejemplo: ```guia1_903_Pablo_Perez```.

### Obtencion del sello (valor 5 puntos)

Para obtener el sello con su nota debe escribir en su cuaderno el ambito conceptual, numero de competencia y objetivo, los cuales se encuentran al inicio del ejercicio.